{% extends "main.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>Param Key</th>
                <th>Param Value</th>
            </tr>
        </thead>
        <tbody>
        {% for query_var, query_value in query_params.iteritems() %}
            <tr>
                <td>{{ query_var }}</td>
                <td>{{ query_value|join(', ') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
