{% extends "main.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
    <form action="/" method="post">
        <label>Имя:<input name="name" type="text"></label>

        <div class="label">Пол:</div>
        <label class="radio"><input type="radio" name="sex" value="male">Мужской</label>
        <label class="radio"><input type="radio" name="sex" value="female">Женский</label>

        <label>Образование:
            <select name="education">
                <option value="low">Низшее</option>
                <option value="middle">Среднее</option>
                <option value="high">Высшее</option>
            </select>
        </label>

        <label>Комментарий:<textarea name="comment"></textarea></label>

        <div class="submit">
            <label><input name="spam" type="checkbox">Хочу получать спам</label>
            <button type="submit">Отправить</button>
        </div>
    </form>
{% endblock %}
