<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/base.css" type="text/css">
    </head>
    <body>
        <h1 class="title"> {{ title|upper }} </h1>
        <div class="content">
            <div>
            {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>
